* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  text-align: center;
  background-color: #1b2034;
  color: #fff;
}
.app {
  padding: 2rem 1rem;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
input {
  appearance: none;
  outline: none;
  border: none;
  background: #eee;
  width: 100%;
  max-width: 300px;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

button,
a {
  appearance: none;
  outline: none;
  border: none;
  background: none;
  font-size: 1.5rem;
  line-height: 1;
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
  max-width: 480px;
  margin: 2rem auto;
}

.centered-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.btn {
  margin: 0 2rem;
}
.btn-generate {
  color: white;
}
.btn-reset {
  color: #2bcb4b;
}
a {
  color: white;
}
a:hover {
  color: #2bcb4b;
}
